html
  head!= head
  
      
  body!= body

    script(src="/javascripts/jquery-1.8.3.js")
    script
      // Capture click events for the top menu bar
      $(document).ready(function () {
        console.log("ready");
        $("a").click(function (e) {
          console.log("a element clicked");
          var dest = e.currentTarget.href;
          window.location.href = "/do/xss?destination="+dest;
          return false;
        });
        // Capture click event for the Google Search btn
        $(".lsb").click(function (e) {
          console.log("google search btn clicked");
          var input
            ,  inputSearch
            , searchValue
            , dest
            ,  url;
          input = $(".ds input.lst");
          inputSearch = input[0];
          searchValue = $(inputSearch).val();
          dest = e.currentTarget.href;
          console.log("input: ", input);
          console.log("input: ", inputSearch);
          console.log("searchValue: ", searchValue);
          console.log("e: ", e);
          console.log("dest: ", dest);
          url = "http://www.google.ca/search?q="+searchValue;
          window.location.href = "/do/xss?destination="+url;
          return false;
        });
        // Add google's domain for logo
        var changeDomain = function () {
          console.log("change domain function");
          var logo
            , logoAnchor
            , href
            , url
            , img
            , imgUrl;
          // Get logo container
          logo = $("#lga")[0];
          // Get logo anchor
          logoAnchor = logo.children[0];
          // Parse anchor target
          href = logoAnchor.href;
          url = href.split("http://localhost:3000", 2);
          url = "/do/xss?destination=http://google.ca" + url[1];
          logoAnchor.href = url;
          // Parse img src
          img = logoAnchor.children[0];
          src = img.src;
          imgUrl = src.split("http://localhost:3000", 2);
          imgUrl = "http://google.ca" + imgUrl[1];
          img.src = imgUrl;
        };  
        changeDomain();
      });
    

