doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.8.3.js")
    script(src="/javascripts/jquery.tmpl.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/spy.js")
    
    include spy-tmpl.jade

    style
      .info {
        border: 1px dashed black;
        padding: 5px;
        margin: 5px;
      }
      .heading {
        font-weight: bold;
        font-size: 20px;
      }
  body

    // Use jquery templates to populate new fields
    // Fadein the elements when adding to the stack
    // Look at the processingjs code to find how to generate hex colors randomly
    span.heading
      |Total Requests: 
    span#totalVisitors.heading
      |0

    div#container

